
<button class="pull-right datetimepicker-calendar-button" {{action 'togglePicker'}}>
  {{fa-icon 'calendar'}}
  <div class="arrow-up hidden"></div>
</button>

<input type='text' class="datetimepicker datetimepicker-input-field" />
