
<div class="{{reflection.id}} log-reflection">
  <div class="info">



    <div class="text">

      <b>Reflection</b><br/>
      Posted {{formatted-date date=reflection.date}}
      <br/>

      {{yield}}


    </div>
  </div>
  <div class="icon">
    {{fa-icon 'file'}}
  </div>
</div>
