<div class="container-main">

	<div class="offlineOnly offlineBackground hidden"></div>
	<div class="offlineOnly offlineAlert alert alert-danger hidden">
		You are offline. Please reconnect to continue using Oslr.
	</div>



  {{outlet}}

</div>
