<p>
  This page shows your teaching session as others will see it
</p>

<button {{action 'postSession'}} class="btn btn-default post-session-button">
  Post Session
</button>

{{feed-availability availability=model}}
