
{{feedback-show feedback=model}}

<div class="feedback-footer">
  Feedback for teaching {{formatted-date date=feedback.availability.startTime}}
  From {{model.user.name}}<br/>
  Received {{formatted-date date=model.createdAt}}
</div>
