<div class="container">
	<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="input-group stylish-input-group">
        {{input value=value class='form-control' placeholder=placeholder}}
        <span class="input-group-addon">
          <button type="submit">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>

    </div>
	</div>
</div>
