<p class="text-left well">
  Oslr was created by doctors frustrated by the difficulty of organising
  bedside teaching. We are always happy to hear your ideas on how to improve
  our service. If you have any feedback or would like any more information,
  please do drop up a line at
  <a href="mailto:info@oslr.co.uk">info@oslr.co.uk</a>.
</p>

<p>
	You can find our terms and conditions and privacy policy at
	<br/>
	<a {{action 'openLink' "http://www.oslr.co.uk/privacy-policy/"}}>www.oslr.co.uk/privacy-policy</a>
</p>

{{bottom-navbar}}
