<div class="navbar-footer">

  {{#link-to 'app.main.home.teach' tagName='div' class='navbar-footer-button navbar-footer-button-teach'}}
    Teach
  {{/link-to}}

  {{#link-to 'app.main.home.learn' tagName='div' class='navbar-footer-button navbar-footer-button-learn'}}
    Learn
  {{/link-to}}

  {{#link-to 'app.main.home.log' tagName='div' class='navbar-footer-button navbar-footer-button-log'}}
    Log
  {{/link-to}}

  {{#link-to 'app.main.home.more' tagName='div' class='navbar-footer-button navbar-footer-button-more'}}
    More
  {{/link-to}}

</div>
