{{#page-footer}}
  {{#link-to "app.main.availabilities.new.what" tagName='button' class="btn btn-default"}}
    Back
  {{/link-to}}
  <button {{action 'postSession'}} class='btn btn-default'>
    Post Session
  </button>
{{/page-footer}}
