{{#page-footer}}
  <div class="row">
    <div class="col-xs-3">
      {{#link-to 'app.main.availabilities.new.when' class='availabilities-new-button availabilities-new-button-when'}}
        {{fa-icon 'clock-o' size=2}}
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'app.main.availabilities.new.who' class='availabilities-new-button availabilities-new-button-who'}}
        {{fa-icon 'users' size=2}}
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'app.main.availabilities.new.what' class='availabilities-new-button availabilities-new-button-what'}}
        {{fa-icon 'info' size=2}}
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'app.main.availabilities.new.preview' class='availabilities-new-button availabilities-new-button-preview'}}
        {{fa-icon 'check-square-o' size=2}}
      {{/link-to}}
    </div>
  </div>
{{/page-footer}}
